<app-home></app-home>

<div class="container">
  <h3 class="mt-5 mb-4 text-primary">Reservation List</h3>

  <div *ngIf="reservations.length; else noReservation">
    <table class="table table-bordered table-hover shadow-sm">
      <thead class="table-dark">
      <tr>
        <th>Guest</th>
        <th>Email</th>
        <th>Room No.</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.guestName }}</td>
        <td>{{ reservation.guestEmail }}</td>
        <td class="text-center">{{ reservation.roomNumber }}</td>
        <td>{{ reservation.checkInDate }}</td>
        <td>{{ reservation.checkOutDate }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">
            <i class="bi bi-trash"></i> Delete
          </button>
          <button class="btn btn-sm btn-secondary mx-1" [routerLink]="['/edit', reservation.id]">
            <i class="bi bi-pencil"></i> Edit
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noReservation>
    <div class="alert alert-warning text-center">
      <i class="bi bi-exclamation-triangle"></i> No reservation available.
    </div>
  </ng-template>
</div>
