<app-home></app-home>

<div class="container">
  <h3 class="mt-5 mb-4 text-primary">Create a New Reservation</h3>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm">

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label fw-semibold">Check-In Date:</label>
        <input class="form-control" type="date" formControlName="checkInDate">
        <small class="text-danger"
               *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
          Check-In Date is required.
        </small>
      </div>

      <div class="col-md-6">
        <label class="form-label fw-semibold">Check-Out Date:</label>
        <input class="form-control" type="date" formControlName="checkOutDate">
        <small class="text-danger"
               *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
          Check-Out Date is required.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label fw-semibold">Guest Name:</label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger"
               *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
          Guest Name is required.
        </small>
      </div>

      <div class="col-md-6">
        <label class="form-label fw-semibold">Guest Email:</label>
        <input class="form-control" type="email" formControlName="guestEmail">
        <small class="text-danger"
               *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
          Guest Email is required.
        </small>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label class="form-label fw-semibold">Room Number:</label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger"
               *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
          Room Number is required.
        </small>
      </div>
    </div>

    <div class="text-center mt-4 ">
      <button class=" w-100 btn btn-success px-4 fw-semibold" type="submit" [disabled]="reservationForm.invalid">
        <i class="bi bi-check-circle"></i> Submit
      </button>
    </div>

  </form>
</div>
